/* Reset CSS */
html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Press Start 2P', serif;
}

/* Custom CSS */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  height: inherit;
  background-color: #000;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: -4px;
  right: 5px;
  color: transparent;
  text-shadow: 0 0 4px white;
}

p {
  position: absolute;
  margin: 0;
  top: 35px;
  right: 5px;
  color: #aaa;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: white;
  padding: 1rem;
}

#gameover p {
  font-size: clamp(1.5rem, 4vw, 2rem);
  margin: 1rem;
  top: 8rem;
  left: 2rem;
  right: 2rem;
}
 
#gametime p {
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin: 1rem;
  padding-top: 10rem;
  right: 50vw;
  float: left;
}

#best-time p {
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin: 1rem;
  padding-top: 1rem;
  left: 50vw;
  float: right;
}

#button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 1.5rem;
  justify-content: center;
}

#button-group button {
  font-family: 'Press Start 2P';
  font-size: 0.75rem;
  margin: 1rem;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}

#button-group button:hover {
  background-color: #636c6d;
  color: whitesmoke;
}

#button-group button:active {
  background-color: #343f41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#settings {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
}

#ball-count-input {
  width: 50px;
  text-align: center;
}